JOBKOI_APP_NAME=Jobkoi API
JOBKOI_APP_ENV=local
JOBKOI_APP_HOST=127.0.0.1
JOBKOI_APP_PORT=8000
JOBKOI_APP_LOG_LEVEL=INFO
JOBKOI_DATABASE_URL=postgresql+psycopg://jobkoi:jobkoi@localhost:5432/jobkoi
JOBKOI_SQLALCHEMY_ECHO=false
JOBKOI_DOCUMENT_STORAGE_DIR=storage/documents
JOBKOI_IMPORT_STORAGE_DIR=storage/imports
